<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">
	<insert id="add" parameterType="command.CommentCommand">
		insert into comments values(SEQ_comments_comment_num.NEXTVAL, #{board_num}, #{id}, #{content}, sysdate)
	</insert>
	<update id="modify" parameterType="command.CommentCommand">
		<!-- 조건문 -->
	</update>
	<delete id="remove" parameterType="java.lang.String">
		<!-- 조건문 -->
	</delete>
	<delete id="removeByCommentNum" parameterType="java.lang.Integer">
		delete from comments where comment_num=#{comment_num}
	</delete>
	<update id="updateByCommentNum" parameterType="hashmap">
		update comments set content=#{content} 
		where comment_num=#{comment_num}
	</update>
	<select id="getlist" resultType="command.CommentCommand">
		<!-- 조건문 -->
	</select>
	<select id="getListByBoardNum" parameterType="java.lang.Integer" resultType="command.CommentCommand">
		select * from comments where board_num=#{board_num} order by write_date DESC
	</select>
	<select id="getOne" parameterType="java.lang.Integer" resultType="command.CommentCommand">
		select * from comments where comment_num=#{comment_num}
	</select>
		<select id="getId" parameterType="java.lang.Integer" resultType="String">
		select id from comments where comment_num=#{comment_num}
	</select>
	<select id="getRecentCommentNum" resultType="int">
		select max(comment_num) from comments
	</select>
	<select id="getCountByBoardNum" parameterType="java.lang.Integer" resultType="java.lang.String">
		select count(comment_num) from comments where board_num=#{board_num}
	</select>
	<select id="find" parameterType="String" resultType="command.CommentCommand">
		<!-- 조건문 -->
	</select>
	<select id="getInfo" parameterType="String" resultType="hashmap">
		<!-- 조건문 -->
	</select>
</mapper>