<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">
	<insert id="add"  parameterType="command.MemberCommand">
		insert into members
		values(#{id},#{passwd},#{name},#{birth},#{gender},#{email},#{phone_num},sysdate,#{recommend_num})
	</insert>
	<update id="updateIncreaseRecommendNum" parameterType="String">
		update members set recommend_num=recommend_num+1 where id=#{id}
	</update>
	<update id="updateDecreaseRecommendNum" parameterType="String">
		update members set recommend_num=recommend_num-1 where id=#{id}
	</update>
	<update id="updateDecreaseRecommendNumByDeleteBoard" parameterType="command.MemberRecommendDeleteCommand">
		update members set recommend_num=recommend_num-#{board_recommend_num} where id=#{id} 
	</update>
	<update id="modifyPro" parameterType="command.MemberCommand">
		update members set passwd=#{passwd},name=#{name},birth=#{birth},gender=#{gender},email=#{email},phone_num=#{phone_num} where id=#{id}
	</update>
	<delete id="delete" parameterType="java.util.HashMap">
		delete from members where id=#{id} and passwd=#{passwd}
	</delete>
	<select id="modifyForm" parameterType="java.lang.String" resultType="command.MemberCommand">
		select * from members where id=#{id}
	</select>
	<select id="getMF" parameterType="java.lang.String" resultType="command.MemberCommand">
		select name birth gender email phone_num from members where id=#{id}
	</select>
	<select id="loginPro" parameterType="java.lang.String" resultType="command.MemberCommand">
		select passwd from members where id=#{id}
	</select>
  	<select id="idSearch" parameterType="java.lang.String" resultType="java.lang.String">
  		select id from members where phone_num=#{phone_num}
	 </select> 
  	<select id="pwSearch" parameterType="String" resultType="command.MemberCommand">
  		select passwd from members where id=#{id} and phone_num=#{phone_num} and email=#{email}
  	</select> 
	<select id="idCheck" parameterType="java.lang.String" resultType="java.lang.String">
		select id from members where id=#{id}
	</select>
	<select id="getPasswdById" parameterType="java.lang.String" resultType="java.lang.String">
		select passwd from members where id=#{id}
	</select>
	<!-- 회원 강제 탈퇴 -->
	<delete id="output" parameterType="java.lang.String">
		delete from members where id=#{id}
	</delete>
	<!-- ID 리스트 -->
	<select id="getIdList" resultType="java.lang.String">
		select id from members
	</select>
	<!-- 정보 리스트 -->
	<select id="getList" resultType="command.MemberCommand">
		select * from members
		ORDER BY reg_date DESC
	</select>
	<!-- 회원 수 -->
	<select id="getMemberCount" resultType="java.lang.Integer">
		select count(id) from members
	</select>	
  </mapper>


