<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="notice">
	<insert id="add" parameterType="command.NoticeCommand">
		insert into notice values(#{kind},#{id},#{targetid},#{board_num},sysdate,0)
	</insert>
	<select id="getListById" parameterType="String" resultType="command.NoticeCommand">
		select * from notice where id=#{id} ORDER BY notice_date DESC
	</select>
</mapper>