<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 테이블 속성 :  id,board_num -->

<mapper namespace="screp">
	<insert id="add" parameterType="command.ScrepCommand">
		insert into screp(id,board_num)values(#{id},#{board_num})
	</insert>
	
	<delete id="remove" parameterType="java.lang.String">
		delete from screp where id=#{id}
		</delete>
	<select id="getlist" resultType="command.ScrepCommand">
		select * from screp
	</select>
	<select id="getListById" parameterType="String" resultType="command.ScrepCommand">
		select * from screp where id=#{id}
	</select>
	<select id="findId" parameterType="String" resultType="String">
		select id from screp where id=#{id}
	</select>
	<select id="screpCount" parameterType="command.ScrepCommand" resultType="java.lang.Integer">
		select count(board_num) from screp where id=#{id}
	</select>
	
</mapper>
