/* import */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* default */
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: '나눔고딕', 'Nanum Gothic', sans-serif;;
	font: 13px '나눔고딕', 'Nanum Gothic', sans-serif;;
	box-sizing: border-box;
}
a { outline:0; text-decoration: none; color: #4C4C4C; }
a:visited { text-decoration: none; color: #4C4C4C; } 
html { height: 100%; }
ul, li { list-style: none; }
body { margin: 0px; padding: 0px; height: 100%;}
img { border: 0; }
pre { white-space: pre-wrap; }

/* global */
#header { background-color: #066E9F; width: 100%; height: 80px; }
#nav { position: static; width: 100%; height: 40px; z-index: 999; background-color: white; border-bottom: 1px solid #E6E6E6; padding: 0; }
#content { min-height:800px; text-align: center; width: 100%; }
#footer { height: 50px; margin: 0px; padding: 0px; text-align: center; background-color: #4C4C4C; }
.text_main { margin: 10px; font-size: 50px; color: #4C4C4C; }
.text_sub { margin: 13px; font-size: 23px; color: #4C4C4C; }
.text_long { margin: 10px; padding: 10px; font-size: 30px; color: #4C4C4C; }
.size_long { width: 500px; height: 60px; margin: 15px auto; border: 1px solid #c6c6c6; }
.size_short { float: left; width: 399px; height: 58px; padding-top: 14px; font-size: 23px; }
.btn_long { width: 500px; height: 60px; margin: 10 auto; padding: 10px; background-color: #066E9F; text-align: center;}
.btn_long a { font-size: 30px; color: white; }
.btn_short {float: left; width: 99px; height: 58px; padding: 10px; background-color: #4C4C4C; }
.btn_short a { font-size: 30px; color: white; }

/* main_decorator */
#logo { height: 80px; }
#logo_btn {overflow: hidden; position: absolute; top: 23px; left: 20px; width: 235px; height: 30px; line-height: 999px;
    background-image: url(../image/reviewer.png); }
#main_btn { position: absolute; top: 0; right: 21px; height: 50px; padding: 11px 9px 0 9px; line-height: 47px; }
.btn_gnb { display: inline-block; height: 39px; padding: 11px 9px 0 9px; vertical-align: top; }
#btn_login { display: inline-block; overflow: hidden; width: 30px; height: 31px; line-height: 999px; vertical-align: top; color: transparent;
    background-image: url(../image/user.png); }
#btn_user{ display: inline-block; overflow: hidden; width: 30px; height: 31px; line-height: 999px; vertical-align: top; color: transparent;
    background-image: url(../image/user.png); }
#btn_search { display: inline-block; overflow: hidden; width: 30px; height: 31px; line-height: 999px; vertical-align: top; color: transparent;
    background-image: url(../image/search.png); }
#btn_notice { display: inline-block; overflow: hidden; width: 30px; height: 31px; background-position: 0px 0; line-height: 999px; vertical-align: top; color: transparent;
    background-image: url(../image/alarm.png); }
#user { display: none; position: absolute; top: 80px; right: 0px; width: 200px; height: auto; background-color: white; z-index: 9999;}
#list_user { border-right: 1px solid #E6E6E6; border-left: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; background-color: white; }
#list_user li { padding: 9px; border-top: 1px solid #E6E6E6; text-align: center; background-color: white; }
#list_user li a { font-size: 17px; }
#notice { display: none; z-index: 9998; position: absolute; top: 80px; right: 0px; width: 330px; max-height: 75%; overflow: auto; }
#list_notice { border-right: 1px solid #E6E6E6; z-index: 9999; border-left: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; background-color: white; }
#list_notice li { padding: 10px; z-index: 10000; border-top: 1px solid #E6E6E6; }
.notice_text { width: 225px; overflow: hidden; display : inline-block; }
.notice_time { float: right; display : inline-block; }
#list_nav { width: 100%; height: 100%; display: inline-block; vertical-align: top; text-align: center; }
#list_nav li { float: left; width: 50%; height: 100%; text-align: center; }
#list_nav li div { padding-top: 10px; height: 100%; }
#list_nav .nav_btn { font-size: 15px; color: #4C4C4C; font-weight: bold; }
#list_policy { display: inline-block; padding-top: 15px; vertical-align: top; }
#list_policy li { padding: 0 25px 0 25px; float: left; }
#list_policy .list_link { font-size: 14pt; color: white; }

/* mainForm */
/* layout */
.content_wrap{width:650px; height:auto;lear: both; padding: auto; margin: 50 auto; position:relative; }
.cont_body{margin:0 auto;}
.content_first{margin-top: 22px; border: 1px solid #e6e6e6;border-bottom: 0 none;}
.cont_writer{padding: 9px 100px 9px 17px; position: relative; text-align: left;}
.cont_writer_id{padding-right: 2px;font-size: 20px;font-weight: bold;letter-spacing: -1px;line-height: 58px;vertical-align: top;margin-left: 10px;}

/* 글쓰기 버튼 */
.btn_posting_wrap{position : fixed;z-index: 2100;bottom: 30px;right: 30px;width:82px;height: 82px;background-image: url("../image/icon_55.png");}
.btn_posting_wrap .btn_posting {display: block;width: 82px;height: 82px;background-position: -220px -130px;}
.btn_posting_wrap .brn_posting:hover{background-position: -310px -13px}
.btn_posting_wrap .brn_posting.scroll_down{display: none;}
.btn_upload_file{display: block; width: 100%;height: 100%;opacity: 0.01;filter: alpha(opacity=1);cursor: pointer}
.u_vc{overflow: hidden!important;position: absolute!important;visibility: hidden;top:0;left:0;width:1px!important;height: 1px!important;padding: 0!important;font-size: 1px!important;line-height: 1px!important;color: transparent!important;}
/* 메인페이지 팔로우 버튼 */
.control_box{top: 23px;right: 54px; left: 80px; position: absolute; z-index: 10;}
.btn_follow {width: 30px;height: 29px;margin-right: 3px;background-position: -180px -40px;overflow: hidden;float: left;vertical-align: top;}
#cont_btn_follow {display: inline-block;overflow: hidden;line-height: 999px;vertical-align: top;background-image: url("../image/icon_18.png");}
/* 메인페이지 작성시간 */
 .cont_wdate{top: 30px;right: 54px; position: absolute; z-index: 10; vertical-align: top; color: #828282; }
/* 메인페이지 메뉴(신고, 삭제) */
.cont_menu{right: 25px;position: absolute;top: 24px;}
.cont_menu_option{display: block;overflow: hidden;line-height: 999px;padding: 3px 12px;	}
#cont_btn_menu{display: block;width: 4px;height: 22px;background-position: -300px 0;overflow: hidden;line-height: 999px;vertical-align: top;background-image: url("../image/icon_08.png");}
.cont_btn_option{display: none;position: fixed;z-index: 9999;top: 0;right: 0;bottom: 0;left: 0;line-height: 100%;text-align: center;}
.ly_dimmed{position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 9999;background-color: #000;opacity: .5;}
.cont_popup{display: inline-block;position: relative;z-index: 10000;width: 384px;background-color: #fff;line-height: normal;vertical-align: middle; top:300px;}
.cont_popup_close{display: inline-block;overflow: hidden;width: 100%;height: 60px;border: none;font-size: 16px;color: #414042;line-height: 60px;text-align: center;vertical-align: top;}
.re_btn_option{display: none;position: fixed;z-index: 9999;top: 0;right: 0;bottom: 0;left: 0;line-height: 100%;text-align: center;}
.re_popup{display: inline-block;position: relative;z-index: 10000;width: 384px;background-color: #fff;line-height: normal;vertical-align: middle; top:300px;}
.re_popup_close{display: inline-block;overflow: hidden;width: 100%;height: 60px;border: none;font-size: 16px;color: #414042;line-height: 60px;text-align: center;vertical-align: top;}

/* 본문내용 */
.content_second{padding: 6px 26px 30px;border: 1px solid #e6e6e6;border-top: 0 none;border-bottom: 0 none; }
.content_view{display: block;overflow: hidden;max-height: 110px;line-height: 1.6em;word-wrap: break-word;text-align: left;}
.cont_theview{display: inline;}
.btn_view_more{display: inline-block;padding-left: 6px;width: 55px;color: #b9b9b9;box-sizing: border-box;}
.item_cont{padding-top: 28px;}
.item_thumb{display: block;overflow: hidden;position: relative;text-align: center;}
.list_photo{width:100%;height:auto;vertical-align:top; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6;}
/* 추천 버튼 */
.cont_btns{border: 1px solid #e6e6e6;border-top: 0 none;}
.cont_btns_wrap{height: auto;padding-left: 20px;padding-bottom: 20px;padding-top: 20px;position: relative;padding: 27px 0 0 6px; margin-bottom: 22px; }
.btns_re{float: left;}
.btns_re_item{display: inline-block;overflow: hidden;vertical-align: top; position: relative; bottom: 36; left: 20px;}
.u_ico{display: inline-block;overflow: hidden;line-height: 999px;vertical-align: top;width: 31px;height: 27px;}
.u_txt{overflow: hidden;position: absolute;top: -999px;z-index: -1;width: 1px;height: 1px;font-size: 1px;line-height: 10px;color: transparent;}
.u_cnt{font-size: 16px;color: #828282;line-height: 26px;}
/* 댓글 버튼 */
.btns_coment{float: left; margin-left: 35px;position: relative;bottom: 36;}
.u_ico_coment{width: 31px;height: 29px; display: inline-block;overflow: hidden;margin-right: 3px;line-height: 999px;vertical-align: top;background-image: url("../image/icon_14.png");}
.text_num{font-size: 16px;color: #828282;line-height: 26px;}	
/* 스크랩 버튼 */
.btns_screp{float: left; margin-left: 15px;position: relative;bottom: 36;}
.u_ico_screp{width: 25px;height: 26px;    display: inline-block;overflow: hidden;margin-right: 3px;line-height: 999px;vertical-align: top;}
/* 카테고리 정보 */
.cont_category_info{padding: 6px 26px 40px; text-align: left; border: 1px solid #e6e6e6;border-top: 0 none;border-bottom: 0 none;}
#cont_category_info_f{font-size: 14px; margin-top: 30px; color: rgba(76, 76, 76, 0.84);}

/* 추가 버튼 */
.profile_thumb{ display: inline-block;overflow: hidden;position: relative;width: 52px;height: 52px;vertical-align: middle; }
.profile_thumb_mask{position: absolute;top: 0;right: 0;bottom: 0;left: 0;z-index: 10;background-position: -381px 0;background-image: url(https://ssl.pstatic.net/static/m/pholar/img/sp_pholar_160421.png);background-repeat: no-repeat;}
.profile_photo img{display: block; width: 52px;height: 52px;}
.view_more{clear: both;background-color: #fff;text-align: center;display: block;width: 650px;margin: auto;}
.list_view_more{display: block;height: 90px;line-height: 86px;font-size: 17px;font-weight: bold;color: #2f334e;}
.ico_plus{display: inline-block;width: 14px;height: 14px;margin: -2px 6px 0 0;background-position: -220px -340px;vertical-align: middle;}
.txt_view_more{line-height: 40px;font-size: 17px;font-weight: bold;color: #2f334e;}

	
/* loginFrom */
#logon { min-height: 800px; }
#login_logo { width : 300px; height: 50px; margin: 0 auto; margin-top: 150px; margin-bottom: 40px; }
#login_logo img{ width: 280px; height: 100%; }
.text_login { width: 100%; height: 100%; border: 0px; font-size: 20px; padding: 10px; color: #4C4C4C; }

/* inputFrom */
#join{ min-height: 800px; }
#join_text_id { float: left; width: 399px; height: 100%; margin: 0 auto; border: 0; }
#btn_idcheck { float: left; }
.join_btn_gender { font-size: 20px; }
.join_label_gender { font-size: 20px; }
#divterms { padding: 10px; font-size: 28px; }
#divterms input { width: 20px; height: 20px; }
#divterms span { font-size: 28px; }
.gender { float: left; width: 249px; height: 100%; padding: 13px; border: 0; }
.gender a{ margin: 0 auto; font-size: 20px; }
#join_btn_reset, #join_btn_cancel { background-color: #4C4C4C; }

/* modifyFrom */
#modify{ min-height: 800px; }
#modify_btn_reset, #modify_btn_cancel, #modify_btn_remove { background-color: #4C4C4C; }

/* idpwSearch */
#find { min-height: 800px; }
.title_find { margin: 0 auto; margin: 11px; font-size: 28px; color: #4C4C4C; }
#find_id_result { min-height: 600px; margin: 0 auto; margin-top: 250px;}

/* mainForm */
.maincontent{ width: 100%; height: 100%; }
#maintable{ border-spacing: 15px; }

/* category_setForm */
.category_all { heigh: auto; }
.category_save { min-height: 600px; }
.category_text{ height: 90px; margin-top: 250px; padding-top: 15px ; border: 0px; }
.category_setting { height: 52px; margin-bottom: 0px; border: 0; border-top: 1px solid #C6C6C6; border-right: 1px solid #C6C6C6; border-bottom: 1px solid #C6C6C6;}
.btn_group1 { float:left; width: 99.8px; height: 50px; padding: 7px; border-left: 1px solid #C6C6C6; }
.btn_group1 a { font-size: 30px; }
#group2 { position:relative; width: 500px; height: 140px; margin: 0 auto; background-color: white; border: 0; border-right: 1px solid #C6C6C6; border-bottom: 1px solid #C6C6C6; }
.group2 { float:left; width: 99.8px; height: 140px; padding: 0px; border-left: 1px solid #C6C6C6; }
.btn_group2 { padding: 5px; }
#group3_11, #group3_12, #group3_13, #group3_14, #group3_15, #group3_21, #group3_22, #group3_23, #group3_24, #group3_31, #group3_32, #group3_33, #group3_34, #group3_41, #group3_42, #group3_43, #group3_44, #group3_51, #group3_52, #group3_53, #group3_54, #group3_55 { position:relative; width: 500px; height: 170px; margin: 0 auto; overflow: hidden; background-color: white; border: 0; border-right: 1px solid #C6C6C6; border-left: 1px solid #C6C6C6; border-bottom: 1px solid #C6C6C6; }
.group3_btn { float:left; width: 99.6px; height: 170px; padding: 0px; }
.btn_group3 { padding: 5px; }

/* searchForm */
#search { min-height: 600px; }
#search_area { width: 500px; height: 58px; margin: 20 auto; background-color: #EAEAEA; }
#search_content { float: left; width: 401px; height: 58px; padding: 10px; border: 0; font-size: 17px; color: #4C4C4C; background-color: #EAEAEA; }
.searched_board { min-height: 400px; margin: 10 auto; }
#first_search_page { margin: 0 auto; margin-top:300px; font-size: 20px;}
.search_result { margin: 0 auto; margin-top:300px; font-size: 20px;}

/* writeForm */
#writeForm { min-height: 800px; padding-top: 10px;}
#content_area { margin: 15px 0 10px 0; z-index: 100;}
#upload_area { width: 500px; margin: 0 auto }
.MultiFile-wrap{ border: 0; text-align: center; }
.MultiFile-list { margin: 0 auto; text-align: center; }
.MultiFile-label { width: 100%; height: 60px; margin-top: 10px; padding-top: 16px; border: 1px solid #C6C6C6; }
.MultiFile-label a{ font-size: 20px; }
.MultiFile-title { font-size: 20px; }
.multi { width: 100%; height: 60px; margin: 0 auto; padding-top: 12px; padding-left: 130px; border: 1px solid #C6C6C6; font-size: 20px; text-align: center; }
#text_content { width: 500px; margin: 0 auto; border-color: #C6C6C6; text-align:left; resize: none;  wrap:hard; }

/* contentForm */
.size_content { width: 650px; height: 60px; margin: 15px auto; border: 1px solid #C6C6C6; }
.content_view_sp { display: block; height: auto;line-height: 1.6em;word-wrap: break-word;text-align: left; }
.content_photo { margin: 0 auto; padding-top: 10px; width: 650px; border-left: 1px solid #e6e6e6; border-right: 1px solid #e6e6e6; }
.content_photo img { width: 100%; }
#content_comment_area { margin: 0 auto; margin-bottom: 50px; }
#content_comment_write_area { float: left; width: 549px; height: 58px; margin: 0 auto; font-size: 23px;  }
#content_comment_writed_area { float: left; width: 640px; height: auto; margin: 0 auto; }
#content_comment_write { width: 100%; height: 100%; border: 0; padding: 10px; text-align:left; resize: none;  wrap:hard; }
.content_comment_writed { width: 100%; height: auto; border: 0; padding: 10px; text-align:left; resize: none;  wrap:hard; }
#content_comment_info { padding: 10px 3px 10px 10px; width: 648px; text-align: left; }
#writed_comment { height: 95px; }

/*my_profile*/
#my_profile_info_area { min-height: 200px; padding: 20px; font-size: 20px; margin: 0 auto; background-color: #F6F6F6; }
#my_profile_name { margin-top:50px; }
#id_profile { margin-top:10px; font-size: 50px; color: #4C4C4C; }
#category_my_profile { padding: 20px; padding-bottom: 40px; }
#my_profile_follow{ width: 200px; height:30px; margin: 0 auto; margin-top: 10px; }
.follow_profile { width: 100px; float: left; margin: 0 auto; }
.follow_profile a{ font-size: 15px; }
